<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <link rel="stylesheet" href="/css/product.css" />
  </head>

  <body>
    <%- include('../partials/nav.ejs') %>

<div class="container m-5">
  <div class="row">
    <div class="col-6">
      <img src="<%= productData.image %>" width="500px" height="400px"/>
    </div>
    <div class="col-6">
      <h2><%= productData.title %></h2>
      <h4>$ <%= productData.price %></h4>
      <p><%= productData.description %></p>

     

       <form method="POST" action="<%= isInCart ? '/remove-from-cart' : '/add-to-cart' %>">
              <input type="hidden" name="productID" value="<%= productData.id %>">
              <button class="btn"> <%= isInCart ? 'Remove Cart' : 'Add to Cart ' %></button>
             </form>
      <div>
       <form method="POST" action="<%= isInWishList ? '/remove-from-wishlist' : '/add-to-wishlist' %>">
              <input type="hidden" name="productID" value="<%= productData.id %>">
              <button class="btn"> <%= isInWishList ? 'Remove from Wish List' : 'Add to WishList ' %></button>
             </form>
      
      <a  href="/"class="back-btn">Back</a>
      </div>
    </div>
  </div>
</div>



<%- include('../partials/end.ejs') %>